src/main/mule/jenkins-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8466695d-0af1-4212-8f9d-7571313ecb09" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-cicdFlow" doc:id="23cd5ca5-bad2-4e96-8e36-87ee9e70a127" >
		<http:listener doc:name="/cicd Listener" doc:id="50b717dd-d305-4139-b1fe-5f419d568b91" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["Test Jenkins Pipeline - 3rd June"]' doc:name="CICD Test - Jenkins" doc:id="7daac23d-02e7-484a-add1-79de674fcf75" />
	</flow>
</mule>
